html {
	font-family: Helvetica;
	font-size: 18px;
}

.box {
	width: 960px;
	margin: 0 auto;
}
/* Header */

header {
	background-color: black;
}

header .box {
	display: flex;
	align-items: center;
	
	}

header img {
	height: 1.5rem;
	padding: 0.66rem 0.5rem;
	
}

header span {
	color: white;
	font-size: 1rem;
	padding: 0.66rem 0.5rem;
}

/* ---------------- Main ---------------------------*/

.banner {
	height: 25rem;
	display: flex;
	align-items: center;
	background-image: url("../images/moto.jpeg");
	background-size: cover;
}

/*still needs work on relative position*/
.newArrival {
	width: 20rem;
	background-color: black;
	color: white;
	position: relative;
	top: 9rem;
	margin-bottom: 10rem;
}

.newArrival h4 {
	font-weight: bold;
	font-size: 1rem;
	margin: 2rem 0 0.25rem 3rem;
}

.newArrival h1 {
	font-weight: bold;
	font-size: 2rem;
	margin: 0 0 2rem 3rem;
}

/*needs work on spacing*/
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: firebrick;
	/*text-align: center;*/
	color: white;
	padding: 0.75rem 0;
	/*font-weight: bold;*/
}
nav ul {
	list-style: none
}

nav ul li {
	display: inline-flex;
	padding-right: 4rem;
}

.menu {
	display: none;
}

.items {
	display: flex;
	justify-content: space-between;
	margin-top: 3rem;
}

.images {
	border: 4px solid black;
	display: block;
	width: 30%;
}


.images img {
	display: block;
	height: 9rem;
	width: 80%;
	margin: 0 auto;
	padding: 2rem 0;
}

.images p {
	background-color: black;
	color: white;
	width: 100%;
	text-align: center;
	padding: 0.5rem 0;
}

/* -----------  Business Info ----------------------*/

.bizinfo {
	display: flex;
	justify-content: space-between;
	margin-top: 3rem;
	margin-bottom: 4rem;

}

.bizdetails {
	width: 35%;
}

.bizdetails p {
	background-color: black;
	color: white;
	padding: 1rem 2rem;
}

/*------------- Footer --------------------*/

footer {
	background-color: black;
	color: white;
}
footer div {
	display: flex;
	align-items: center;
	height: 5rem;
	text-align: left;

}

@media only screen and (max-width: 1024px) {
	.newArrival h4 {
	font-weight: bold;
	font-size: 0.75rem;
	margin: 2rem 0 0.25rem 3rem;

	}

	.newArrival h1 {
		font-weight: bold;
		font-size: 1.75rem;
		margin: 0 0 2rem 3rem;
	}

	nav {
		display:none;
	}

	.menu	{
		display: block;
		background-color: firebrick;
		text-align: center;
		color: white;
		padding: 0.75rem 0;
	}

	.images {
		width: 47%;
	}

	.items > div:nth-child(3) {
		display: none;
	}

	.images img {
		width: 70%;
	}
}

@media only screen and (max-width: 470px) {

	.banner {
		height: 15rem;
	}

	.newArrival {
		display: block;
		
		
		

		width: 100%;
		position: relative;
		top: 5rem;
		height: 5rem;
		margin-bottom: 0rem;

	}

	.newArrival h4 {
	font-size: 0.77rem;
	padding: 1rem 0 1rem 2rem;
	margin: 0;
	}

	.newArrival h1 {
	font-size: 1rem;
	padding: 0 0 2rem 2rem;
	margin: 0;
	}

	.images, .bizinfo {
		display: block;
	}

	.items, .bizinfo{
		max-width: 470px;
	}

	.images, .bizdetails {
		width: 90%;
		display: block;
		justify-content: center;
		margin-left: 0.70rem;
	}
	
	.bizdetails {
		margin-bottom: 0.5rem;
	}
	.items > div:nth-child(2) {
		display: none;
	}

	footer .box {
		max-width: 470px;
		
	}

	footer div p {
		margin: 0 auto;
	}
}